nav {
    position: fixed;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #333;
    z-index: 50;
    background: rgba(255, 255, 255, 0.672);
    backdrop-filter: blur(5px);
}


.logo-nav {
    justify-self: start;
    height: 34px;
}

.nav-menu {

    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 1rem;

}

.nav-links {

    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;    
}

.nav-links:hover {
    
    color: rgb(14, 14, 14);
}

.nav-links.active {
    background: #2D3648;
    color: white;
    border-radius: 4px;

}

.button-group {
    display: flex;
}
.button-group div {
    margin-right: 20px;
}
